<table width="85%">
  <tr>
    <td width="25%">Game Started: {{gameplayTimer}}s</td>
    <td width="25%">Welcome to our Tetrix Game <br> {{playerInfo.Name.toLowerCase()}}!</td>
    <td width="25%">Point: {{pointCount}}</td>
    <td width="25%">Player scores:</td>

  </tr>
  <tr>
    <td>

      <button type="submit" *ngIf="!showS" class="gray" (click)="showGameplay()">Show Gameplay</button>
      <button type="submit" *ngIf="showS" class="gray" (click)="hideGameplay()">Hide Gameplay</button>

      <div *ngIf="!showS">
        <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="180" maxBufferPx="400" class="example-viewport">
          <div class="example-item-detail" *cdkVirtualFor="let item of saveCurrentGameData.gameHistory">{{item.Time}}s
            {{item.Action}}</div>
        </cdk-virtual-scroll-viewport>
      </div>

    </td>
    <td>
      <tetris-core #game (foodEaten)="onFoodEaten()" (gameOver)="onGameOver()"
        [ngClass]="selectedColors === 'normal_colors' ? '' : 'black-and-white'"></tetris-core>
    </td>
    <td>
      <p *ngIf="isReady">Games Status: Ready!</p>
      <p *ngIf="isGo">Games Status: Start!</p>
      <p *ngIf="isPaused">Games Status: Stopped!</p>
      <p *ngIf="isGameOver">Games Status: Reset to Save Data!</p>

      <button type="button" [disabled]="!isGo" (click)="onLeftButton()" class="gray">Left</button>
      <button type="button" [disabled]="!isGo" (click)="onRightButton()" class="gray">Right</button>
      <button type="button" [disabled]="!isGo" (click)="onRotateButton()" class="gray">Rotate</button>
      <button type="button" [disabled]="!isGo" (click)="onDownButton()" class="gray">Down</button><br>

      <button type="button" [disabled]="isGameOver" (click)="onStartButton()" class="green">Start</button>
      <button type="button" [disabled]="isGameOver || isReady" (click)="onStopButton()" class="red">Stop</button>
      <button type="button" [disabled]="isReady" (click)="onResetButton()" class="yellow">Reset</button><br />

      <button type="submit" class="gray" [routerLink]="['/welcome']">Exit Game</button>
      <br /><br />
      <button *ngIf="selectedColors==='high_contrast'" class="btn btn-primary col-3 btn-lg" type="button"
        (click)="goToColors(selectedColors)">Swap to Colors</button>
      <button *ngIf="selectedColors==='normal_colors'" class="retroBtn contrast" type="button"
        (click)="goToColors(selectedColors)">Swap to Black&White</button><br><br><br><br><br><br><br><br>
      Aktualny czas: {{ currentTime | date: 'HH:mm:ss' }}
    </td>
    <td>
      <div>
      Filter: <input type="text" [(ngModel)]="searchText" placeholder="Wyszukaj...">
      <ul>
        <li *ngFor="let item of playerScores | filter: searchText | sort: sortOrder">
          {{ item.name }} - {{ item.score }}
        </li>
      </ul>
      <button (click)="toggleSortOrder()">Sort: {{ sortOrder === 'asc' ? 'ascending' : 'descending' }}</button>
    </div>
    </td>
</table>